<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>URL Shortener</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center justify-center bg-gray-100"
  >
    <div class="mb-8 text-center">
      <h1 class="text-4xl font-bold">DontClick.xyz</h1>
      <h2 class="text-lg">
        Shorten your long URL so your friends want to click it.
      </h2>
    </div>
    <div class="w-96 rounded-lg bg-white p-8 shadow-md">
      <!-- Form -->
      <form action="" method="post" class="space-y-4">
        <div>
          <label for="originalUrl" class="mb-6 text-2xl font-bold"
            >Paste your long URL here:</label
          >
          <input
            type="url"
            id="originalUrl"
            name="url"
            required
            class="mt-1 block w-full rounded-md border-2 border-gray-300 p-2 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          />
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full rounded-md bg-indigo-500 p-2 text-white hover:bg-indigo-600 focus:border-indigo-300 focus:outline-none focus:ring"
        >
          Shorten URL
        </button>
      </form>
    </div>
  </body>
</html>
